$navbar-default-bg: black;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('Coop.png');
  background-size: cover;
  height: 900px;
  width: 600;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron .btn-xlarge {
font-size: 3.5em;
color: black;
background-color: #d1a67a;
}

.jumbotron .btn-xlarge:hover {
font-size: 3.5em;
color: red;
background-color: #d1a67a;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}
.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}

.float ul li {
  float: left;
  margin-left: 15px;

}

.article-title {
  font-weight: bold;
  font-size: 1.5em; 
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}